#panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color{
    display: flex;
    margin-bottom: 5px;
}
.colorWorkPanel {
    display: flex;
    flex-flow: column wrap;
}
#palette{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette {
    height: 40vh !important;
}
